sudo: false

language: php

php:
  - 5.5
  - 5.6
  - 7.0

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.0

install:
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer self-update && composer --version
  - composer install

services:
    - mongodb
    - redis-server

after_script:
  - |
    if [ $TRAVIS_PHP_VERSION = '5.6' ]; then
      travis_retry wget https://scrutinizer-ci.com/ocular.phar
      php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml
    fi

before_script:
  - if [ $TRAVIS_PHP_VERSION = '7.0' ]; then pecl install pthreads; else pecl install pthreads-2.0.10; fi
  # run daemon
  # - php tests/startDaemon.php > /dev/null &

cache:
  directories:
    - vendor
    - $HOME/.composer/cache
